<div class="text-center">
	<button  class="btn btn-primary" ng-click="toggleNewHabitCreateButton()"> {{habitCreateToggleBtnTxt}} New Habit Form</button>
</div>
<div ng-if="showNewHabit" class="jumbotron text-center">


	<h2> New habit: </h2>
	<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputCategory" class="col-sm-4 control-label">Habit Category</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="inputCategory" placeholder="Habit Category" ng-model="habit.category">
        </div>
    </div>
    <div class="form-group">
        <label for="inputName" class="col-sm-4 control-label">Habit Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="inputName" placeholder="Habit Name" ng-model="habit.name">
        </div>
    </div>
	
	<br/>
	
	<h3> Days of Week To Do Habit: </h3> 
	
	<br />
	<span style="display: inline; margin-right:10px">
			<label for="monday" class="control-label">Monday</label>
			<input type="checkbox" id="monday" ng-model="habitDaysOfWeek[1]"/>
	</span>
	<span style="display: inline; margin-right:10px">
		<label for="tuesday" class="control-label">Tuesday</label>
		<input type="checkbox" id="tuesday"ng-model="habitDaysOfWeek[2]"/>
	</span>
	<span style="display: inline" >
		<label for="wednesday" class=" control-label">Wednesday</label>
		<input type="checkbox"id="wednesday; margin-right:10px" ng-model="habitDaysOfWeek[3]" />
	</span>
	<span style="display: inline; margin-right:10px">
		<label for="thursday" class="control-label">Thursday</label>
		<input type="checkbox"  id="thursday" ng-model="habitDaysOfWeek[4]" />
	</span>
	<span style="display: inline; margin-right:10px"> 
		<label  for="friday" class="control-label">Friday</label>
		<input type="checkbox" id="friday" ng-model="habitDaysOfWeek[5]"/>
	</span>
	<span style="display: inline; margin-right:10px">
		<label for="saturday" class="control-label">Saturday</label>
		<input type="checkbox" id="saturday" ng-model="habitDaysOfWeek[6]">
	</span>
	<span style="display: inline; margin-right:10px">
		<label for="sunday" class="control-label">Sunday</label>
		<input type="checkbox"  id="sunday" ng-model="habitDaysOfWeek[0]"/>
	</span>
	<br />
	<br />
	 <div style="display: inline; margin-right:10px">
        <div class="col-sm-offset-4 col-sm-4">
            <button type="submit" class="btn btn-default" ng-click="createHabit(habit.category, habit.name)">Create Habit</button> 
        </div>
	</div>
</div>	
<div class="jumbotron">
	<span class="text-center"> 
		<h2> Your habit list: </h2>
	</span>
	<div   ng-repeat="(category, habits) in groupedHabits">

		<h3 > {{category}} <button ng-click="toggleCategory(category)" class="btn btn-default">  {{categoryShowBtnTxt[category]}} </h3>
		<ul ng-if="shownCategories[category]">
			<li ng-repeat="habit in habits"> <h4> {{habit.name}} (Streak Length : <span style="color:red"> {{habit.streakLength}}</span>) </h4> <button ng-hide="doneAlready(habit.lastUpdate)" ng-click="increaseHabitStreak(habit._id)" class="btn btn-default"> Increase Streak </button> </li>
		</ul>
	</div>

	
</div>	